Character Controller/Library/
Character Controller/Temp/
Character Controller/Assembly-CSharp.csproj
Character Controller/Assembly-CSharp-Editor-firstpass.csproj
Character Controller/Assembly-CSharp-firstpass.csproj
Character Controller/.vs/
